@font-face {
    font-family: 'butlerlight';
    src: url('font/butler_light-webfont.woff2') format('woff2'),
         url('font/butler_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'butlerlight', arial, sans-serif;
    margin: auto;
    background-color: #F0F7F7;
}

table {
    width: 1500px;
}

th, td {
    padding: 5px;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead {

  background-color: #567879;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: left;
}

tfoot th {
    text-align: right;
}

tbody tr:hover td {
    background-color: #8ac0c2;
    color: #d4e6e6;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transform: scale(1.1);
}

table {
    border-collapse: collapse;
    background-color: #d4e6e6;
    border-radius: 0 0 15px 15px;
    font-family: 'butlerlight', arial, sans-serif;
    color: #567879;
    border: none;
}

a {
    color: #567879;
}

a:hover {
    color: black;
}
