<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des produits</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Libellé</th>
                    <th>Prix</th>
                    <th>Fournisseur</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let produit of list()">
                    <td>{{produit.id}}</td>
                    <td>{{produit.libelle}}</td>
                    <td>{{produit.prix}}</td>
                    <td>{{produit.fournisseur?.id}} - {{produit.fournisseur?.nom}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(produit.id)"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(produit.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="produitForm">
    <div class="card-header bg-primary text-white display-6">Edition d'un produit</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly [(ngModel)]="produitForm.id"/>
        </div>
        <div class="form-group">
            <label for="libelle">Libellé:</label> <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="produitForm.libelle"/>
        </div>
        <div class="form-group">
            <label for="prix">Prix:</label> <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="produitForm.prix" step="0.01"/>
        </div>
        <div class="form-group">
            <label for="fournisseur">Fournisseur:</label>
            <select class="form-control" id="fournisseur" name="fournisseur" [(ngModel)]="produitForm.fournisseur.id">
                <option [value]="fournisseur.id" *ngFor="let fournisseur of listFournisseur()">{{fournisseur.id}} - {{fournisseur.nom}}</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>
